@media (max-width: 770px){
    .empresas{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
.agencia-viaje{
    width: 50%;
    display: flex;
    justify-content: center;
}

.ministerio{
    width: 50%;
    display: flex;
    justify-content: center;
}